@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

* {
  box-sizing: border-box;
}
body {
  color: var(--neutral-600);
  letter-spacing: -0.01em;
  font-family: Red Hat Display, sans-serif;
  font-size: 16px;
  line-height: 1.875em;
}
